/************************** TAG SELECTORS ****************************/

h1{ 
    color:crimson; 
}

img:hover{
    background-color: gold;
}

/*{
background-color: crimson !important;
}*/


/************************** CLASS SELECTOR ****************************/

.pizza{
    background-color: white;
}

.avacado{
    background-color: crimson;
}

.circular{
    border-radius: 100%;
}

/************************** Id SELECTOR ****************************/

#heading {
    color: blue;

}

